fastapi
uvicorn
sqlalchemy
google-generativeai
python-dotenv
pydantic
requests
python-multipart
Pillow
websockets
google-genai
livekit-agents==1.3.5
livekit-plugins-google
livekit-plugins-noise-cancellation
livekit-api==1.0.7
